<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error JS Test view</title>
        <meta name="description" content="Novasupport">
        <meta name="author" content="Jojax">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
    </head>

    <body>
       A simple Page which voluntary triggers a Js error (Ctrl+U to see the script causing the error)
        <script type="text/javascript">
            A fu***ng javascript error
        </script>
    </body>
</html>
