<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error JS Test view</title>
        <meta name="description" content="Novasupport">
        <meta name="author" content="Jojax">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
    </head>

    <body>
       A simple Page which voluntary triggers a regular JavaScript error and an unhandled promise rejection error (Ctrl+U to see the script causing the errors). 
        <script type="text/javascript">
            a fu***ng javascript error
        </script>
        <script type="text/javascript">
            new Promise(function(resolve, reject) {
                window.fish.mountain = 'some text';
            })
        </script>
    </body>
</html>
